/* Estilos generales */
h1{
    color: #000120;
}
body {
    font-family: Arial, sans-serif;
    background-color: #9daab3;
    margin: 0;
    padding: 20px;
}

.formulario {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #cfd9e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

select, input, button {
    margin: 5px;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #b7c6d8fa;
}

button {
    background-color: #02725a;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #02725a;
}

/* Estilo de las tablas */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
    background-color: #b7c6d8fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #163c64;
    color: #cfd9e0;
    font-size: 16px;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #cfd9e0;
}

tbody tr:nth-child(even) {
    background-color: #cfd9e0;
}

tbody tr:hover {
    background-color: #b7c6d8fa;
}

.completada {
    text-decoration: line-through;
    color: rgb(58, 51, 99);
}

/* Estilo de las tareas según prioridad */
.tarea {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: rgb(2, 1, 43);
    font-weight: bold;
}

.prioridad.alta {
    background-color: #dc3545; /* Rojo */
}

.prioridad.media {
    background-color: #ffc107; /* Amarillo */
    color: black;
}

.prioridad.baja {
    background-color: #28a745; /* Verde */
}

.tarea:hover {
    opacity: 0.8;
}
